/* Wrapper for search bar and filter button */
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
}

.search-bar  .searchbarWrapper {
  display: flex;
  justify-content: start;
    align-items: center;
  border: none;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: start;
  gap: 0.5em;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.search-bar {
    border: none;
    width: 70%;
    gap: 3rem;
}

.search-bar .search-card {
  border: none;
  background: var(--background-color);
}

.search-bar .searchbarWrapper input {
    border: none;
    width: 100%;
    outline: none;
    background: var(--background-color);
}

.search-bar .tabs-div {
  display: flex;
  justify-content: center;
}

.search-bar .tabs-div .tab {
  cursor: pointer;
}


/* Wrapper for search bar and filter button */
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
}

/* Filter button styles */
.filter-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-right: -0.8rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* Button hover effect */
.filter-button:hover {
    background-color: rgba(234, 233, 233, 0.42);
    color: var(--text-color);
}

.filter-button:hover::after {
    background-color: var(--primary-hover-color);
    transform: scale(1.05); /* Slight zoom effect on hover */
}


@media (max-width: 991px) {
  .NavLinks {
    display: none !important;
  }
}