.TitleLogo .homeIcon {
  font-size: xx-large;
  width: 36px;
  height: 36px;
  color: var(--icon-color);
}


.TitleLogo {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: baseline;
  align-items: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  text-decoration: none;
  margin-left: 0;
}

.TitleLogo h1 {
  padding: 20px;
  font-size: 32px;
  margin: 0;
  font-weight: bold;
}
