.navBar {
  align-content: space-between;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 80px;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999; 
}

.navbar {
  padding: 1rem 2rem;
  background-color: var(--background-color);
}

.NavLinks {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navBar .NavText {
    font-size: large;
}

.navBar .NavText:hover {
  color: var(--text-color);
}

.navBar .rightNavButtons {
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.navBar .languageSelector {
  font-size: x-large;
}

.navBar .ProfileDropdown img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}   

.navBar .ProfileDropdown {
  background: none;
  border: none;
}

.navBar .ProfileDropdown img:hover {
  --acc-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1) translate3d(1%,1%,0);
  transition: all var(--acc-sine) 150ms;
}

.navBar .ProfileDropdown {
  --bs-btn-hover-bg: var(--background-color);
  --bs-btn-bg: var(--background-color);
  --bs-btn-active-bg: var(--background-color);
  --bs-btn-color: var(--icon-color);
  --bs-btn-hover-color: var(--icon-color);
  --bs-btn-active-color: var(--icon-color);
}

.navBar .languageIcon {
  width: 36px;
  height: 36px;
}

.navBar .NavButton {  
  margin-right: 10px;
  margin-left: 10px;
}