.filterNav {
  border-bottom-color: rgba(255, 255, 255, 0.32);
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-end;
  list-style: none;
  overflow-x: auto;
  gap: 10px;
  padding: 0 10px;
  margin: 1em 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
}


.filterNavItem {
  flex: 0 0 auto;
  position: relative;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filterLink {
  color: var(--text-color);
  opacity: 80%;
  overflow: hidden;
  border-bottom-color: rgba(255, 255, 255, 0.32);
  border-color: rgba(255, 255, 255, 0.32);
}

.filterLogo {
  width: 100%; 
  max-width: 50px;
  height: auto; 
  object-fit: cover;
}

.dropdownButton {
  display: inline-block ;
  color: inherit;
  background: none;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  line-height: 0;
  text-decoration: none;
}
