/* map.css */
.mapContainer {
    width: 100%;
    display: flex;
    min-height: 60vh;
    overflow: hidden;
    border-radius: 20px; 
    padding: 0;
    margin: 0;
    flex-shrink: inherit;
    height: 100px;

}

.marker {
    background-color: red;
    border-radius: 50%;
}