.App {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App .header {
  color: var(--text-color);
}

.App .header .searchbar {
  display: flex;
  justify-content: center;
  border: none;
  width: 100%;
}

.App .MainWrapper {
  width: 100%;
  z-index: 1;
  padding-left: 10vw;
  padding-right: 10vw;
  margin: 0;
  height: 100%;
  flex: 1;
}