  .homeContainer {
    align-items: center;
    display: flex;
    box-sizing: border-box;
    margin-left: 0;
    justify-content: center;
    flex-direction: column;
    left: 0;
  }

  .homeContainer .hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  .homeContainer .hero .heroText {
    width: 100%;
    margin: 0;
    text-align: left;

    
  }

  .homeContainer .hero .heroButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
  }

  .homeContainer .hero button {
    height: 55px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    padding: 0 25px 0 25px;
    margin: 10px 0;
    
}

  .homeContainer h1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: 800;
  }
  
  .homeContainer .ContentGridCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    
  }

  .homeContainer .universityFilters{
  width: 100%;
}

.homeContainer h2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 600;

}

.homeContainer .profileConfigButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.homeContainer .questionsAccordion {
  width: 100%;
  
}